{{>header}}
{{>navbar}}

<div class="container-fluid">
    <div class="row mt-5" >
        <h2 class="text-center">MAHAVEER INTERNATIONAL SCHOOL</h2>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga tempora quis reprehenderit dignissimos voluptatibus qui sunt incidunt porro, minima minus ab quidem consectetur facilis, eos mollitia architecto illum! Reiciendis, nesciunt?</p>
        <img src="https://universitykart.com/Content/upload/admin/ysrz0ba4.pnk.jpg" alt="jcd"  width="600px" height="400px">
    </div>
</div>


{{>footer}}